<!DOCTYPE html>
{% load static %}
{% load common %}
{% load user_agents %}


<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:300" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather" />
{% block title %}
<title>The Movie Room</title>
<meta name="description" content="Reviews of movies new and old"/>
<meta property="og:title" content="The Movie Room" />
<meta property="og:url" content="https://www.themovieroom.co.uk/" />
<meta property="og:description" content="Reviews of movies new and old">
<meta property="og:image" content="{% static 'images/favicon.ico' %}" />
{% endblock %}
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_GB" />
<meta charset="iso-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'styles/layout.css' %}" type="text/css"/>
{% if request|is_mobile %}
<link rel="stylesheet" href="{% static 'styles/mobile.css' %}" type="text/css"/>
{% endif %}

<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/themovieroom_152x152.png' %}"/>
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/themovieroom_180x180.png' %}"/>
<link rel="apple-touch-icon" sizes="167x167" href="{% static 'images/themovieroom_167x167.png' %}"/>

</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
         <img src="{% static 'images/themovieroom2.png' %}" alt="">
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'films:index' %}">Reviews</a></li>
        <li><a href="{% url 'features' %}">Features</a></li>
      </ul>
      </nav>
    <form action="{% url 'SearchListView' %}" method="get">
      <fieldset>
        <legend>Search:</legend>
        <input type="text" placeholder="Search themovieroom.co.uk..&hellip;" name="search", onFocus="this.value=(this.value=='Search TheMovieRoom.co.uk&hellip;')? '' : this.value ;">
        <input type="submit" id="sf_submit" value="">
      </fieldset>
    </form>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
      {% block image %}
      {% endblock %}
    </section>
    <!-- Content -->
    <div id="homepage">
      <!-- ########################################################################################## -->
      <section class="clear">
        <article class="{% if request|is_mobile %}three_third{% else %}two_third{% endif %}">
	  {% block body %}
	  {% endblock %}
        </article>
	{% if not request|is_mobile %}
        <article class="one_third lastbox">
	  {% block sidebar %}
	  {% endblock %}
        </article>
	{% endif %}
      </section>
    </div>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="#">TheMovieRoom.co.uk</a></p>
    <p class="fl_right">This website uses the TMDb API but is not endorsed or certified by TMDb.</a></p>
  </footer>
</div>
</body>
</html>
