{% extends "base.html" %}
{% load static %}


{% block title %}
<title>Features</title>
<meta name="description" content="Reviews of movies new and old"/>
<meta property="og:title" content="Features | The Movie Room" />
<meta property="og:url" content="https://themovieroom.co.uk/" />
<meta property="og:description" content="Latest features on themovieroom.co.uk" />
<meta property="og:image" content="{% if features.count > 0 %}{{ features.0.image.url }} {% else %} {% static 'images/favicon.ico' %} {% endif %}" /> 
{% endblock %}




{% block image %}
{% endblock %}

{% block body %}
{% if features.count > 0 %}
<table id="t02">
<tr><th><h2>Latest Features</h2></th></tr>
{% for feature in features %}
  <tr><td> <a href = "{% url 'films:features' film.id %}">{{feature.title}}</a></td></tr>
  {% endfor %}
</table>
{% else %}
<h1> Features coming soon! </h1>
{% endif %}

<!-- <footer class="more"><a href="#">Read More &raquo;</a></footer> -->
{% endblock %}
