{% extends "base_index.html" %}
{% load common %}
{% block cinema1 %}<a href="{% url 'films:detail' 7 %}">Mission: Impossible - Fallout&nbsp;&nbsp;<span style="stars">★★★1/2</span></a>{% endblock %}
{% block cinema2 %}Ant-Man and the Wasp{% endblock %}
{% block cinema3 %}The Meg{% endblock %}
{% block cinema4 %}Skyscraper{% endblock %}
{% block cinema5 %}Incredibles 2{% endblock %}
{% block cinema6 %}The First Purge{% endblock %}
{% block cinema7 %}Hotel Transylvania 3: Summer Vacation{% endblock %}
{% block cinema8 %}Mamma Mia! Here We Go Again{% endblock %}
{% block coming1 %}The Equalizer 2{% endblock %}
{% block coming2 %}Slender Man{% endblock %}
{% block coming3 %}BlacKkKlansman{% endblock %}
{% block coming4 %}The Spy Who Dumped Me{% endblock %}
{% block coming5 %}Christopher Robin{% endblock %}
{% block coming6 %}Alpha{% endblock %}
{% block coming7 %}Bad Samaritan{% endblock %}
{% block coming8 %}Upgrade{% endblock %}
{% block body %}
{% assign mainid 8 %}
{{block.super}}
{% endblock %}
