{% extends "base_index.html" %}
{% load common %}
{% block cinema1 %}<a href="{% url 'films:detail' 6 %}">Mission: Impossible - Fallout</a>&nbsp;&nbsp;★★★1/2{% endblock %}
{% block cinema2 %}Ant-Man and the Wasp{% endblock %}
{% block cinema3 %}<a href="{% url 'films:detail' 2 %}">Incredibles 2</a>&nbsp;&nbsp;★★★1/2{% endblock %}
{% block cinema4 %}The First Purge{% endblock %}
{% block cinema5 %}Overboard{% endblock %}
{% block cinema6 %}Skyscraper{% endblock %}
{% block cinema7 %}Hotel Transylvania 3: Summer Vacation{% endblock %}
{% block cinema8 %}Mamma Mia! Here We Go Again{% endblock %}
{% block coming1 %}The Equalizer 2{% endblock %}
{% block coming2 %}Christopher Robin{% endblock %}
{% block coming3 %}The Meg{% endblock %}
{% block coming4 %}The Spy Who Dumped Me{% endblock %}
{% block coming5 %}The Darkest Minds{% endblock %}
{% block coming6 %}I Can Only Imagine{% endblock %}
{% block coming7 %}Beirut{% endblock %}
{% block coming8 %}Unfriended: Dark Web{% endblock %}
{% block body %}
{% assign mainid 7 %}
{{block.super}}
{% endblock %}
