{% extends "base.html" %}
{% load static %}


{% block title %}
<title>{{ person.name }} | The Movie Room </title>
<meta name="description" content="Reviews of movies new and old"/>
<meta property="og:title" content="{{ review.title }} ({{ review.release_date.year }}) | The Movie Room" />
<meta property="og:url" content="https://www.themovieroom.co.uk/" />
<meta property="og:description" content="{{ person.name }} at The Movie Room">
<meta property="og:image" content="{%if person.image %}{{ person.image.url }} {%else %}{% static 'images/favicon.ico' %} {% endif %}" />
{% endblock %}

{% block body %}
{% if person.image %}
<img id = "profile" src="{{ person.image.url }}" alt="">
{% endif %}
<h2>{{ person.first_name }} {{ person.last_name }}</h2>
<br>
{% if person.date_of_death %}
Date of Birth : {{person.date_of_birth}}<br>
Died : {{person.date_of_death}} ( Age {{ person.age }} )<br>
{% else %}
DOB: {{person.date_of_birth}} ( Age {{ person.age }} )<br>
{% endif %}
{%if person.cast.count > 0 or  person.director.count > 0 %}
Reviewed Filmography:<br>
{% for film in person.reviewed_films %}
   <a href = "{% url 'films:detail' film.id %}">{{film.title}} ({{film.release_date.year}})</a><br>
  {% endfor %}
{% endif %}
</ul>
{% endblock %}
