{% extends "base.html" %}
{% load static %}


{% block title %}
<title>Reviews</title>
<meta name="description" content="Reviews of movies new and old"/>
<meta property="og:title" content="Reviews | The Movie Room" />
<meta property="og:url" content="https://themovieroom.co.uk/" />
<meta property="og:description" content="Latest reviews on themovieroom.co.uk" />
<meta property="og:image" content="{% if reviews.count > 0 %}{{ reviews.0.image_small.url }} {% else %} {% static 'images/favicon.ico' %} {% endif %}" /> 
{% endblock %}

{% block image %}
{% endblock %}

{% block body %}
{% if reviews.count > 0 %}
<table id="t02">
<tr><th><h2>Latest Reviews</h2></th></tr>
{% for review in reviews %}
  <tr><td> <a href = "{% url 'films:detail' review.id %}">{{review.title}} ({{review.release_date.year}})</a></td></tr>
  {% endfor %}
</table>
{% endif %}
<!-- <footer class="more"><a href="#">Read More &raquo;</a></footer> -->
{% endblock %}
