{% extends "base.html" %}
{% load static %}


{% block title %}My amazing blog{% endblock %}



{% block image %}
{% endblock %}

{% block body %}
{% if films.count > 0 %}
<table id="t02">
<tr><th><h2>Latest Reviews</h2></th></tr>
{% for film in films %}
  <tr><td> <a href = "{% url 'films:detail' film.id %}">{{film.title}} ({{film.release_date.year}})</a></td></tr>
  {% endfor %}
</table>
{% endif %}
<!-- <footer class="more"><a href="#">Read More &raquo;</a></footer> -->
{% endblock %}
