{% extends "base.html" %}
{% load static %}
{% load user_agents %}

{% block title %}
<title>{{ review.title }} ({{ review.release_date.year }}) | The Movie Room </title>
<meta name="description" content="Reviews of movies new and old"/>
<meta property="og:title" content="{{ review.title }} ({{ review.release_date.year }}) | The Movie Room" />
<meta property="og:url" content="https://www.themovieroom.co.uk/" />
<meta property="og:description" content="{% for star in review.stars  %}{% if star == 1 %} ★  {% elif star == 0.5 %} 1/2 {% endif %} {% endfor %}">
<meta property="og:image" content="{{ review.image_small.url }}" />

{% endblock %}

{% block image %}
<article class = "review">
{% if review.image %}
<figure><img src="{{ review.image.url }}" alt=""></figure>
{% endif %}
</article>
  <article class = "quote" >
"{{review.quote}}"
</article>

{% endblock %}

{% block body %}
<h2>{{ review.title }} ( {{ review.release_date.year }} )</h2>
{% for star in review.stars  %}{% if star == 1 %}★{% elif star == 0.5 %}1/2{% endif %}{% endfor %} &nbsp; | &nbsp; {{review.published_date.date}} </li>
</br>
{% if request|is_mobile %}
Director: {% for person in review.director.all %} {{ person.first_name }} {{person.last_name}} {% endfor %} </br>
Runtime: {{ review.runtime }} minutes </br>
Starring:
{% for person in review.cast.all %}
{% if forloop.first %}{% else %}
{% if forloop.last %} and {% else %}, {% endif %}
{% endif %}{{ person.first_name }} {{person.last_name}}
{% endfor %}
</br>
{% endif %}
<div class = "review">{{review.body | safe}}</div>
{% endblock %}

{% block sidebar %}
{% if not request|is_mobile %}
<table id = "t01"><tbody>
<tr><th>Directed by</th></tr>
    {% for person in review.director.all %}
<tr><td> <a href = "{% url 'persons' person.id %}">{{ person.first_name }} {{person.last_name}}</td></tr>
    {% endfor %}
<tr><th>Starring</th></tr>
    {% for person in review.cast.all %}    
    <tr><td> <a href = "{% url 'persons' person.id %}">{{ person.first_name }} {{person.last_name}}</td></tr>
    {% endfor %}

<tr><th>Runtime: {{ review.runtime }} minutes</th></tr>
  <tr><td>
<span class="imdbRatingPlugin" data-user="ur4256421" data-title="tt{{ review.imdb }}" data-style="p1"><a href="https://www.imdb.com/title/tt{{ review.imdb }}/?ref_=plg_rt_1"><img src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_46x22.png" alt="{{ review.title }} ({{ review.release_date.year }}) on IMDb" />
</a></span><script>(function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";stags.parentNode.insertBefore(js,stags);})(document,"script","imdb-rating-api");</script>

</th></td>
</tbody></table>
{% endif %}
{% endblock %}
