{% extends "base.html" %}
{% load static %}


{% block title %}My amazing blog{% endblock %}



{% block image %}
{% endblock %}

{% block body %}
{% if films.count > 0 %}
<table id="t02">
<tr><th><h2>Reviews</h2></th></tr>
{% for film in films %}
  <tr><td> <a href = "{% url 'films:detail' film.id %}">{{film.title}} ({{film.release_date.year}})</a></td></tr>
  {% endfor %}
</table>
{% endif %}
<ul>{% if persons.count > 0 %}
<h2>People</h2>
  {% for person in persons %}
  <li> <a href = "{% url 'persons' person.id %}"> {{person.first_name}} {{person.last_name}}</a></li>
{%if person.cast.count > 0 %}
<ul>
{% for film in person.cast.all %}
  <li> <a href = "{% url 'films:detail' film.id %}">{{film.title}} ({{film.release_date.year}})</a></li>
  {% endfor %}
  </ul>
{% endif %}
{%if person.director.count > 0 %}
Directed
{% for film in person.director.all %}
{{film.title}}<br>
{% endfor %}
{% endif %}
  {% endfor %}
</ul>
{% endif %}
<!-- <footer class="more"><a href="#">Read More &raquo;</a></footer> -->
{% endblock %}
