
/* override settings from layout.css to make them more mobile friendly */

html{font-size:100%}


#header, #container, #footer{width:auto;padding:1vw;}

#header #hgroup img{margin:5px 15px 5px 10px; height:20vw;}
#header nav{display:block;width:100%; height:auto; margin:0; padding:0; padding-bottom:13px;padding-top:12px;margin-top:20px;margin-right:10px;border:1px solid #DEDEDE;font-size:1.25em;}
#header nav li{display:inline; margin-right:10px; text-transform:uppercase;}


#container #homepage .synopsis figure, #container #homepage .synopsis figure img{height:29vw;width:48vw;}
#container #homepage .synopsis figcaption{
    height: auto;
    width: 46vw;
    padding: 1vw;
}

.three_third {width:auto;}

#container #homepage .mainsynopsis figure{width:98vw;height:63vw;}
#container #homepage .mainsynopsis img{width:98vw;height:63vw;}
#container #homepage .mainsynopsis figcaption#title{min-width:100px;max-width:885px;height:auto;padding:3vw;}
#container #homepage .mainsynopsis figcaption#synopsis{width:92vw;text-align:middle;padding:3vw;}

#container #homepage .feature{background-color:#eee;}
#container #homepage .feature img{width:250px;float:left;margin:5px;}
#container #homepage .feature h1{ padding:10px;background-color:var(--main-bg-color);width:100%;display:block;    box-sizing: border-box;
margin-bottom:10px;}


/*search button*/
#header form{margin:5px 5px 2px 0px; padding:0;float:right;}
#header form input{width:35vw; padding:2px;border:1px solid var(--secondary-font-color);}
#header form #sf_submit{float:right;width:18px; margin-left:5px; font-weight:bold;}
#header form input[type=submit]{
    background-size: 12px 12px;
    background-position:45% 50%;
    min-width:18px;
}



/* review page */
#container #slider figure img{float:left; width:96vw;height:43vw}
#container #slider .quote {
    height:auto;
    width:auto;
    margin-top:0px;
    padding:0px;
    margin-bottom:0px;
    font-size:0.8125rem;

}

div.review::first-letter {
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 6px;
}

#homepage p{
    padding-bottom:3vw;
}

table#t03 {
    padding:0px;
    border: 2px;
    width: 75vw;
}


#footer{font-size:0.5em;}

#container #homepage .synopsis figcaption {font-size:0.75em;}
#container #homepage .mainsynopsis figcaption#synopsis {font-size:0.75em;}
#container #homepage .mainsynopsis figcaption#title {font-size:1.0em;}